name: ci-core

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  build_test:
    name: Build & Test
    runs-on: ubuntu-latest
    steps:
      # This is a temporary build step that clones another
      # repository as a private un-published dependency 'blstrs'
      # it uses a GH personal access token with read only permission
      - name: Check out mattrglobal/blstrs
        uses: actions/checkout@master
        with:
          repository: mattrglobal/blstrs
          token: ${{ secrets.MATTR_BLSTRS_PAT }}
          path: blstrs

      - name: Checkout pairing_crypto
        uses: actions/checkout@v2
        with:
          path: main # TODO remove once temp build step below is removed

      - name: Setup stable rust toolchain
        uses: actions-rs/toolchain@b2417cde72dcf67f306c0ae8e0828a81bf0b189f # pin@v1.0.6
        with:
          profile: minimal
          toolchain: stable
          override: true

      # Note some of the rules we use for fmt and clippy are only available with the nightly toolchain
      - name: Setup nightly rust toolchain
        uses: actions-rs/toolchain@b2417cde72dcf67f306c0ae8e0828a81bf0b189f # pin@v1.0.6
        with:
          profile: minimal
          toolchain: nightly
          override: true
          components: rustfmt, clippy

      - name: Run cargo format
        uses: marcopolo/cargo@a527bf4d534717ff4424a84446c5d710f8833139 # pin@master
        with:
          command: fmt
          toolchain: nightly # Note some of the rules we use for fmt are only available with the nightly toolchain
          working-directory: main # TODO remove once temp build step below is removed, revert to actions-rs/cargo action
          args: --all -- --check

      - name: Run cargo clippy
        uses: marcopolo/cargo@a527bf4d534717ff4424a84446c5d710f8833139 # pin@master
        with:
          command: clippy
          toolchain: nightly # Note some of the rules we use for clippy are only available with the nightly toolchain
          working-directory: main # TODO remove once temp build step below is removed, revert to actions-rs/cargo action
          args: -- -D warnings

      - name: Run cargo check
        uses: marcopolo/cargo@a527bf4d534717ff4424a84446c5d710f8833139 # pin@master
        with:
          command: check
          toolchain: stable
          working-directory: main # TODO remove once temp build step below is removed, revert to actions-rs/cargo action

      - name: Run cargo audit
        uses: marcopolo/cargo@a527bf4d534717ff4424a84446c5d710f8833139 # pin@master
        with:
          command: audit
          toolchain: stable
          working-directory: main # TODO remove once temp build step below is removed, revert to actions-rs/cargo action

      - name: Run cargo build
        uses: marcopolo/cargo@a527bf4d534717ff4424a84446c5d710f8833139 # pin@master
        with:
          command: build
          toolchain: stable
          working-directory: main # TODO remove once temp build step below is removed, revert to actions-rs/cargo action

      - name: Run cargo test
        uses: marcopolo/cargo@a527bf4d534717ff4424a84446c5d710f8833139 # pin@master
        with:
          command: test
          toolchain: stable
          working-directory: main # TODO remove once temp build step below is removed, revert to actions-rs/cargo action
          args: '--release'

      - name: Generate fixtures
        uses: marcopolo/cargo@a527bf4d534717ff4424a84446c5d710f8833139 # pin@master
        with:
          command: run -p bbs-fixtures-generator -- -i  tests/fixtures/bbs/test_asset.json -o tests/fixtures/bbs/
          toolchain: stable
          working-directory: main # TODO remove once temp build step below is removed, revert to actions-rs/cargo action

      - name: Test after generating fixtures
        uses: marcopolo/cargo@a527bf4d534717ff4424a84446c5d710f8833139 # pin@master
        with:
          command: test
          toolchain: stable
          working-directory: main # TODO remove once temp build step below is removed, revert to actions-rs/cargo action
          args: '--release'
     
