name: ci-obj-c

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  build_test:
    name: Build & Test Objective-C Wrapper
    runs-on: macos-latest
    defaults:
      run:
        working-directory: ./wrappers/obj-c
    steps:
      - name: Checkout
        uses: actions/checkout@83b7061638ee4956cf7545a6f7efe594e5ad0247 # pin@v3.5.1

#       - name: Build binary
#         run: ./scripts/update-libraries.sh
#         shell: bash

      - name: Verify podspec
        working-directory: ./
        run: pod lib lint --allow-warnings --verbose
